<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">🍊 VinhKhanh Tour</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 📍 Quản lý Địa điểm
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="audio">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 🎵 Quản lý Audio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="translations">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 🌐 Bản dịch
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tours">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 🗺️ Quản lý Tour
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="analytics">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 📊 Phân tích Dữ liệu
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="history">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 📜 Lịch sử Sử dụng
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="qrcode">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 📱 QR Code
            </NavLink>
        </div>
    </nav>
</div>
